@import url('https://fonts.cdnfonts.com/css/cursed-timer-ulil');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #2a9d8f;

}

.container {
    display: flex;
    justify-content: space-around;
    background-color: #1b244a;
    width: 575px;
    height: 385px;
    border-radius: 10px;
}

h3{
    color: #EEEEEE;
    font-size: 40px;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 68px 0 21px 0;
    text-align: center;
}

h2{
    color: #F94F6D;
    font-weight: 400;
    font-family: "Cursed Timer ULiL","sans-serif";
    font-size: 90px;
    text-align: right;
}

.scoreboard-home,.scoreboard-guest{
    width: 155px;
    height: 120px;
    background-color: #080001;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 26px;
    padding-top: 15px;
}

button{
    border-color: #9AABD8;
    background-color: #1b244a;
    color: #9AABD8;
    border-radius: 5px;
    font-family: "Cursed Timer ULiL","sans-serif";;
    font-size: 18px;
    cursor: pointer;
    border: 3px solid ;
    border-width: 2px;
    padding: 10px;

    
}

.home-buttons{
    display: flex;
    justify-content: space-between;
}

.guest-buttons{
    display: flex;
    justify-content: space-between;
}